.footer
  %nav.navbar.navbar-default
    .container
      %ul.nav.navbar-nav
        %li
          %a{:href => "#"} Help
        %li
          %a{:href => "#"} About
        %li
          %a{:href => "#"} How it works
        %li
          %a{:href => "#"} Partner
        %li
          %a{:href => "#"} Disclaimer
        %li
          %a{:href => "#"} Terms and Privacy
      %ul.nav.navbar-nav.navbar-right.footer-right
        %li= link_to image_tag("inkedin.png", alt: "inkedin"), "#"
        %li= link_to image_tag("pinterest.png", alt: "pinterest"), "#"
        %li= link_to image_tag("twitter.png", alt: "twitter"), "#"
        %li= link_to image_tag("g+.png", alt: "g+"), "#"
        %li= link_to image_tag("Behance.png", alt: "Behance"), "#"
        %li= link_to image_tag("facebook.png", alt: "facebook"), "#"