- chapters = @book.chapters
- current_chapter_id = @user_book.current_chapter_id
.menu-panel
  .manage
    - kls = @user_book.favorite ? ['remove-from-favorite', 'fa-star-o', 'DEL FROM FAVORITE'] : ['add-to-favorite', 'fa-star', 'ADD TO FAVORITE']
    %a.remove-from-favorite.favorite-manage{class: kls[0], href: "#", data: {user_book_id: @user_book.id}}
      %i.fa{class: kls[1]}
      %span= kls[2]
    %a{:href => category_path(@book.categories.first)}
      %i.fa.fa-sign-out
      %span EXIT
  %ul#menu-toc.menu-toc
    - chapters.each do |chapter|
      - klass_active = current_chapter_id == chapter.id ? 'menu-toc-current' : ''
      %li{class: klass_active, data: {chapter_id: chapter.id, user_book_id: @user_book.id}}
        %a{href: "#item#{chapter.id}", data: {chapter_id: chapter.id}}= chapter.title
.bb-custom-wrapper
  #bb-bookblock.bb-bookblock
    - chapters.each do |chapter|
      .bb-item{id: "#item#{chapter.id}", data: {chapter_id: chapter.id, user_book_id: @user_book.id}}
        .content
          .scroller
            %h2.chapter-title= chapter.title
            = chapter.content.try(:html_safe)
  %nav
    %span#bb-nav-prev ←
    %span#bb-nav-next →
  %span#tblcontents.menu-button Table of Contents