.content#book-show
  .container
    .mainwrapper_sub
      .row
        .col-md-6.border-right
          .row
            .col-md-12
              = image_tag(@book.get_thumb_view, class: 'img-responsive')
            .col-md-12
              - unless @book.synopsis.blank?
                %h4 What About
                %p.gray_text
                  = @book.synopsis.try(:html_safe)
              - unless @book.target_audience.blank?
                %h4 Who should read this book:
                %p.gray_text
                  = @book.target_audience.try(:html_safe)
              - unless @book.author_bio.blank?
                %h4 Author information:
                %p.gray_text
                  = @book.author_bio.try(:html_safe)
        .col-md-5.col-md-offset-1
          %h3.text-uppercase
            = @book.title
          %br/
          %p.gray_text
            %span.glyphicon.glyphicon-c.glyphicon-user.inline{"aria-hidden" => "true"}
            - auther = @book.authers? ? @book.authers.split(',')[0] : 'N/A'
            %span.text.inline= auther
          %br/
          %p.gray_text
            %span.glyphicon.glyphicon-c.glyphicon-time.inline{"aria-hidden" => "true"}
            %span.text.inline #{@book.duration || 'N/A'} min
          %br/
          %p.gray_text
            %span.text.inline
              = @book.categories.map(&:title).join(', ')
          %br/
          %ul.follow_us
            %li.inline
              %a.glyphicon-c.gray_text{:href => "#", style: "text-decoration: none;"}
                %span.normal_weight{style: "font-size: 18px;color: black;"} Follow Us
                %i.fa.fa-facebook
          %br/
          - if user_signed_in?
            - if current_user.has_free_tariff && !@book.is_free
              = link_to 'Read', "#", class: 'btn-lg btn btn-primary text-uppercase paid-book'
            - else
              = link_to 'Read', read_book_reader_path(@book), class: 'btn-lg btn btn-primary text-uppercase'
          - else
            = link_to 'Sign Up', '#', class: 'btn-lg btn btn-primary text-uppercase', "data-toggle" => "modal", "data-target" => "#registrations-modal"