#login-form{style: ajax_form ? "":"margin: 0 auto;"}
  .center-aligned-form
    = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name, :format => :html), data: {rpost: ajax_form}) do |f|
      .title-login
        Sign In
      .facebook-butt
        = link_to image_tag("buttons/login_fb_button-#{I18n.locale}.jpg"), '/users/auth/facebook/', :class => "log popup", :"data-width" => 600, :"data-height" => 400
      .gplus-butt
        = link_to 'Google+', '/users/auth/gplus/', :class => "btn btn-error popup", :"data-width" => 600, :"data-height" => 400
      .auth-separator
        .auth-separator-inner
          Or
      .global-alert.notice.error{:style => "display:none"}
        = t('devise.failure.not_found_in_database')
      .form-inputs.registrate.login
        = f.input :email, :required => false
        = f.input :password, :required => false
        %div{style:"margin-top: 5px;"}
          Remember me
          = f.input :remember_me, label: false, :as => :boolean if devise_mapping.rememberable?
          = link_to 'Forgot your password?', new_password_path(resource_name), class: "remember_link"
      .border-bottom-dotted{style: "margin-top: 20px;"}
        .form-actions{style: "padding-bottom: 10px; text-align: center;"}
          = f.button :submit, "Submit", class: "btn-lg btn btn-warning text-uppercase"
      .reg-bottom
      .member
        Don't have account?
        -if ajax_form
          = link_to 'Sign Up', new_user_registration_path, :class => "back modal-window-new"
        -else
          = link_to 'Sign Up', new_user_registration_path, :class => "back"