.page-head1
  .text-center{:style => "text-align:left; padding:15px 0px; font-size:26px; width:100%;"}
    %h2{:style => "text-align:left; width:100%; float:left; margin-bottom:10px;"} User List
    .topsearch
      %input.form-control{:placeholder => "Search user...", :style => " border-radius:10px;", :type => "text"}/
    %span{:style => "float:left;"}
      %input.btn.btn-success.btn-md{:type => "submit", :value => "Search"}/
.block-flat{:style => "float:left; width:100%;"}
  .content{:style => "float:left; width:100%;"}
    .table-responsive
      %table#datatable.table.table-bordered
        %thead
          %tr
            %th
              %strong User Id
            %th
              %strong Date Register
            %th
              %strong Type
            %th
              %strong Expire Date
            %th
              %strong Action
        %tbody
          - @users.each do |user|
            %tr.odd.gradeX
              %td= user.full_name
              %td= time_tag(user.created_at)
              %td= user.try(:type)
              %td.center Null
              %td
                %button.btn.btn-primary.btn-flat.md-trigger{"data-modal" => "form-primary-#{user.id}"} Edit
                = link_to 'Delete', admin_user_path(user), :method => :delete, :data => { :confirm =>  'Are you sure?' }, :class => 'btn btn-danger', :title => 'Delete'
                = link_to 'Login', become_admin_user_path(user), :data => { :confirm =>  "Are you sure? You will be login as user #{user.full_name}" }, :class => 'btn btn-success', :title => 'Login'
                .md-modal.colored-header.custom-width.md-effect-9{:id => "form-primary-#{user.id}", :style => "height:600px; margin-top:30px; overflow:hidden;"}
                  .md-content
                    .modal-header
                      %h3 Edit #{user.full_name}
                      %button.close.md-close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                    .modal-body.form{:style => "height:400px; overflow:auto;"}
                      .content
                        %form.form-horizontal.group-border-dashed{:action => "#", :style => "border-radius: 0px;"}
                          .form-group
                            %label.col-sm-3.control-label Type
                            .col-sm-8
                              %select.form-control
                                %option 1
                                %option 2
                                %option 3
                                %option 4
                                %option 5
                          .form-group
                            %label.col-sm-3.control-label Expire Date
                            .col-sm-8
                              %input.form-control.datetime{:size => "16", :type => "text", :value => ""}/
                          .form-group
                            %label.col-sm-4.control-label  
                            .col-sm-6
                    .modal-footer
                      %button.btn.btn-default.btn-flat.md-close{"data-dismiss" => "modal", :type => "button"} Cancel
                      %button.btn.btn-primary.btn-flat.md-close{"data-dismiss" => "modal", :type => "button"} Update
                .md-overlay