!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    = csrf_meta_tags
    %link{:href => "admin/icon.png", :rel => "shortcut icon"}/
    %title Flat Dream
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700,800", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Raleway:300,200,100", :rel => "stylesheet", :type => "text/css"}/
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    / Bootstrap core CSS
    %link{:href => "/assets/javascripts/admin/bootstrap/dist/css/bootstrap.css", :rel => "stylesheet"}/
    %link{:href => "/assets/javascripts/admin/jquery.gritter/css/jquery.gritter.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/fonts/font-awesome-4/css/font-awesome.min.css", :rel => "stylesheet"}/
    %link{:href => "/assets/javascripts/admin/jquery.nanoscroller/nanoscroller.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/javascripts/admin/jquery.niftymodals/css/component.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/javascripts/admin/jasny.bootstrap/extend/css/jasny-bootstrap.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/javascripts/admin/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/javascripts/admin/bootstrap.switch/bootstrap-switch.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/javascripts/admin/bootstrap.datetimepicker/css/bootstrap-datetimepicker.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/javascripts/admin/jquery.select2/select2.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/javascripts/admin/bootstrap.slider/css/slider.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/javascripts/admin/jquery.icheck/skins/flat/green.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/javascripts/admin/bootstrap.daterangepicker/daterangepicker-bs3.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/javascripts/admin/bootstrap.wysihtml5/dist/bootstrap3-wysihtml5.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/stylesheets/admin/style.css", :rel => "stylesheet"}/
    %link{:href => "/assets/javascripts/admin/bootstrap.wysihtml5/dist/bootstrap3-wysihtml5.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/stylesheets/admin/style.css", :rel => "stylesheet"}/

  %body.animated
    #cl-wrapper
      .cl-sidebar
        .cl-toggle
          %i.fa.fa-bars
        .cl-navblock
          .menu-space
            .content
              .sidebar-logo
                .logo
                  = link_to '', admin_books_path
              %ul.cl-vnavigation
                %li
                  %a{:href => admin_books_path}
                    %i.fa.fa-files-o
                    %span Books
                %li
                  %a{:href => admin_categories_path}
                    %i.fa.fa-list-alt
                    %span Categories
                %li
                  %a{:href => admin_users_path}
                    %i.fa.fa-users
                    %span Users
          .text-right.collapse-button{:style => "padding:7px 9px;"}
            %input.form-control.search{:placeholder => "Search...", :type => "text"}/
            %button#sidebar-collapse.btn.btn-default{:style => ""}
              %i.fa.fa-angle-left{:style => "color:#fff;"}
      #pcont.container-fluid
        / TOP NAVBAR
        #head-nav.navbar.navbar-default
          .container-fluid
            .navbar-collapse
              %ul.nav.navbar-nav.navbar-right.user-nav
                %li.dropdown.profile_menu
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                    = image_tag(current_user.get_avatar, style: 'height: 30px;')
                    -#%img{:alt => "Avatar", :src => "/assets/images/admin/avatar6-2.jpg"}/
                    %span
                      = current_user.first_name+" "+current_user.last_name
                    %b.caret
                  %ul.dropdown-menu
                    %li
                      %a{:href => "#"} My Account
                    %li
                      %a{:href => "#"} Profile
                    %li
                      %a{:href => "#"} Messages
                    %li.divider
                    %li
                      = link_to 'Sign Out', destroy_user_session_path, method: :delete
        .cl-mcont{:style => "padding-top:0px; margin-top:0px;"}
          = yield

%script{:src => "/assets/javascripts/admin/jquery.js"}
%script{:src => "/assets/javascripts/admin/jquery.cookie/jquery.cookie.js"}
%script{:src => "/assets/javascripts/admin/jquery.pushmenu/js/jPushMenu.js"}
%script{:src => "/assets/javascripts/admin/jquery.nanoscroller/jquery.nanoscroller.js", :type => "text/javascript"}
%script{:src => "/assets/javascripts/admin/jquery.sparkline/jquery.sparkline.min.js", :type => "text/javascript"}
%script{:src => "/assets/javascripts/admin/jquery.ui/jquery-ui.js", :type => "text/javascript"}
%script{:src => "/assets/javascripts/admin/jquery.gritter/js/jquery.gritter.js", :type => "text/javascript"}
%script{:src => "/assets/javascripts/admin/behaviour/core.js", :type => "text/javascript"}
/
  Bootstrap core JavaScript
  \==================================================
/ Placed at the end of the document so the pages load faster
%script{:src => "/assets/javascripts/admin/bootstrap/dist/js/bootstrap.min.js"}
%script{:src => "/assets/javascripts/admin/ckeditor/ckeditor.js"}
%script{:src => "/assets/javascripts/admin/ckeditor/adapters/jquery.js"}
%script{:src => "/assets/javascripts/admin/jquery.niftymodals/js/jquery.modalEffects.js", :type => "text/javascript"}
%script{:src => "/assets/javascripts/admin/bootstrap.wysihtml5/dist/wysihtml5-0.3.0.js", :type => "text/javascript"}
%script{:src => "/assets/javascripts/admin/bootstrap.wysihtml5/dist/bootstrap3-wysihtml5.all.min.js", :type => "text/javascript"}
%script{:src => "/assets/javascripts/admin/jasny.bootstrap/extend/js/jasny-bootstrap.min.js", :type => "text/javascript"}
%script{:src => "/assets/javascripts/admin/bootstrap.daterangepicker/moment.min.js", :type => "text/javascript"}
%script{:src => "/assets/javascripts/admin/bootstrap.daterangepicker/daterangepicker.js", :type => "text/javascript"}
%script{:src => "/assets/javascripts/admin/bootstrap.touchspin/bootstrap-touchspin/bootstrap.touchspin.js", :type => "text/javascript"}
%script{:src => "/assets/javascripts/admin/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.js", :type => "text/javascript"}
%script{:src => "/assets/javascripts/admin/bootstrap.switch/bootstrap-switch.js", :type => "text/javascript"}
%script{:src => "/assets/javascripts/admin/bootstrap.datetimepicker/js/bootstrap-datetimepicker.min.js", :type => "text/javascript"}
%script{:src => "/assets/javascripts/admin/jquery.select2/select2.min.js", :type => "text/javascript"}
%script{:src => "/assets/javascripts/admin/bootstrap.slider/js/bootstrap-slider.js", :type => "text/javascript"}
%script{:src => "/assets/javascripts/admin/jquery.icheck/icheck.min.js", :type => "text/javascript"}
= stylesheet_link_tag 'admin', media: 'all'
= javascript_include_tag 'admin.js'
:javascript
  $(document).ready(function(){
    /*Date Range Picker*/
    $('#reservation').daterangepicker();
    $('#reservationtime').daterangepicker({
      timePicker: true,
      timePickerIncrement: 30,
      format: 'MM/DD/YYYY h:mm A'
    });
    var cb = function(start, end) {
      $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
      alert("Callback has fired: [" + start.format('MMMM D, YYYY') + " to " + end.format('MMMM D, YYYY') + "]");
    }

    var optionSet1 = {
      startDate: moment().subtract('days', 29),
      endDate: moment(),
      minDate: '01/01/2012',
      maxDate: '12/31/2014',
      dateLimit: { days: 60 },
      showDropdowns: true,
      showWeekNumbers: true,
      timePicker: false,
      timePickerIncrement: 1,
      timePicker12Hour: true,
      ranges: {
         'Today': [moment(), moment()],
         'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
         'Last 7 Days': [moment().subtract('days', 6), moment()],
         'Last 30 Days': [moment().subtract('days', 29), moment()],
         'This Month': [moment().startOf('month'), moment().endOf('month')],
         'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
      },
      opens: 'left',
      buttonClasses: ['btn btn-default'],
      applyClass: 'btn-small btn-primary',
      cancelClass: 'btn-small',
      format: 'MM/DD/YYYY',
      separator: ' to ',
      locale: {
          applyLabel: 'Submit',
          cancelLabel: 'Clear',
          fromLabel: 'From',
          toLabel: 'To',
          customRangeLabel: 'Custom',
          daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr','Sa'],
          monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
          firstDay: 1
      }
    };

    var optionSet2 = {
      startDate: moment().subtract('days', 7),
      endDate: moment(),
      opens: 'left',
      ranges: {
         'Today': [moment(), moment()],
         'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
         'Last 7 Days': [moment().subtract('days', 6), moment()],
         'Last 30 Days': [moment().subtract('days', 29), moment()],
         'This Month': [moment().startOf('month'), moment().endOf('month')],
         'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
      }
    };

    $('#reportrange span').html(moment().subtract('days', 29).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));

    $('#reportrange').daterangepicker(optionSet1, cb);

    $('#reportrange').on('show', function() { console.log("show event fired"); });
    $('#reportrange').on('hide', function() { console.log("hide event fired"); });
    $('#reportrange').on('apply', function(ev, picker) {
      alert("mama mia");
      console.log("apply event fired, start/end dates are "
        + picker.startDate.format('MMMM D, YYYY')
        + " to "
        + picker.endDate.format('MMMM D, YYYY')
      );
    });
    $('#reportrange').on('cancel', function(ev, picker) { console.log("cancel event fired"); });
    /*Switch*/
    $('.switch').bootstrapSwitch();
    /*DateTime Picker*/
      $(".datetime").datetimepicker({format: 'yyyy-mm-dd hh:ii'});
      $("#datetime1").datetimepicker({format: 'yyyy-mm-dd'});

    /*Select2*/
      $(".select2").select2({
        width: '100%'
      });

     /*Tags*/
      $(".tags").select2({tags: 0,width: '100%'});

     /*Slider*/
      $('.bslider').slider();

    /*Input & Radio Buttons*/
      $('.icheck').iCheck({
        checkboxClass: 'icheckbox_flat-green',
        radioClass: 'iradio_flat-green'
      });
    /*spinners*/
      $("input[name='cleaninit']").TouchSpin();
      $("input[name='demo1']").TouchSpin({
        min: 0,
        max: 100,
        step: 0.1,
        decimals: 2,
        boostat: 5,
        maxboostedstep: 10,
        postfix: '%'
      });
      $("input[name='demo2']").TouchSpin({
        min: -1000000000,
        max: 1000000000,
        stepinterval: 50,
        maxboostedstep: 10000000,
        prefix: '$'
      });
      $("input[name='demo4']").TouchSpin({
        postfix: "a button",
        postfix_extraclass: "btn btn-default"
      });
    /*End of spinners*/
    /*Color Picker*/
      $('.demo1').colorpicker({
        format: 'hex', // force this format
      });
      $('.demo2').colorpicker({
        format: 'hex', // force this format
      });
      $('.demo-auto').colorpicker();
      // Disabled / enabled triggers
      $(".disable-button").click(function(e) {
          e.preventDefault();
          $("#demo_endis").colorpicker('disable');
      });

      $(".enable-button").click(function(e) {
          e.preventDefault();
          $("#demo_endis").colorpicker('enable');
      });


    /*End of Color Picker*/
  });
- if @to_bottom
  :javascript
    $(document).ready(function(){
      $("html, body").animate({ scrollTop: $(document).height() }, 1000);
      noty({text: 'A new empty chapter was created', type: 'warning'});
    });