!!!
%html
  %head
    %title Docnhanh
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,400italic,300italic,500,500italic,700,700italic,900,900italic"
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .navbar-wrapper
      .container-fluid
        %nav.navbar.navbar-static-top.navbar-default.header
          .container
            %div
              %div
                .navbar-header
                  %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
                    %span.sr-only Toggle navigation
                    %span.icon-bar
                    %span.icon-bar
                    %span.icon-bar
                  = link_to image_tag("logo.png", alt: "", class: "img-responsive"), root_path, class: "navbar-brand"
                #navbar.navbar-collapse.collapse
                  %ul.nav.navbar-nav.col-xs-2
                    %li.dropdown
                      %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                        Genres
                        %span.caret
                      %ul.dropdown-menu{:role => "menu"}
                        - Category.all.each do |category|
                          %li
                            = link_to category.title, category_path(category)
                  %ul.nav.navbar-nav.navbar-right
                    %li
                      %form.navbar-form{:role => "search"}
                        .col-xs-12
                          .right-inner-addon
                            %i.fa.fa-search
                            %input.form-control{:placeholder => "Search", :type => "search"}/
                    - if user_signed_in?
                      %li.dropdown
                        %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                          = current_user.first_name+" "+current_user.last_name
                          %span.caret
                        %ul.dropdown-menu{:role => "menu"}
                          %li
                            %a{:href => "#"} Action
                          %li
                            %a{:href => "#"} Another action
                          %li
                            %a{:href => "#"} Something else here
                          - if user_signed_in? && current_user.role == 'admin'
                            %li= link_to 'Administration', admin_path
                          %li.divider
                          - if user_signed_in?
                            %li= link_to 'Logout', destroy_user_session_path, method: :delete
-#- flash.each do |key, value|
-#  .global-alert.col-md-6.col-md-offset-3{class: "#{key}"}
-#    %div
-#      = value
= yield

= render partial: "shares/footer"

#login-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content

#registration-via-email-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel2", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content

#registrations-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel1", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-body
        %h3#myModalLabel1.modal-title.text-center
          Sign Up for
          %span.blue-color docnhanh
        .signup-btn
          %ul.ualink-social-link
            %li
              %a.btn.btn-facebook.popup{:href => "/users/auth/facebook/", :"data-width" => 600, :"data-height" => 400}
                %i.fa.fa-facebook
                %span Sign Up With Facebook
            %li
              %a.btn.btn-google.popup{:href => "/users/auth/google_oauth2/", :"data-width" => 600, :"data-height" => 400}
                %i.fa.fa-google-plus
                %span Sign Up With Google+
            %li
              %a.btn.btn-email{:href => new_user_registration_path,  'data-remote' => 'true', "data-toggle" => "modal", "data-dismiss" => "modal", "data-target" => "#registration-via-email-modal"}
                %i.fa.fa-email
                  = image_tag("email.png")
                %span Sign Up With Email
          %p.text-center.already Already have an account?
      .center-or
        %p.text-center.center-heading Or
      .modal-body
        %ul.ualink-social-link
          %li
            %a.btn.btn-facebook.popup{:href => "/users/auth/facebook/", :"data-width" => 600, :"data-height" => 400}
              %i.fa.fa-facebook
              %span Login With Facebook
          %li
            %a.btn.btn-google.popup{:href => "/users/auth/google_oauth2/", :"data-width" => 600, :"data-height" => 400}
              %i.fa.fa-google-plus
              %span Login With Google+